html{
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Mochiy Pop P One', sans-serif;
}

.picture{
    height: 300px;
    background-image: url(/fondo.jpg);
    background-attachment:fixed;
    background-position: center;
    background-size: cover;
    background-color: rgba(0,86,119,1);
    border-radius: 25px;
}


.Photo-CV {
    top: 40px;
    width: 200px;
    height: 200px;
    left: 670px;
    border-radius: 100px;
    position: absolute;

}

.Titulo{
    color: white;
    height: 19.87px;
    padding-left: 230px;
    text-align: center;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-weight:700;
    font-size:30px;
    line-height: 500px;
    font-style: normal;
    position: absolute;
    display: block;
}

.description{
    background-color: rgb(10, 175, 175);
    border-radius: 25px;
    position: relative;
    display: flex;
    justify-content: center;
}

.yo{
    font-family: 'Mochiy Pop P One', sans-serif;
    position: relative;
    color: white;
    font-style: italic;
    text-align: center;
    cursor: pointer;
}

.hoja{
    color: yellowgreen;
    margin-top: 0px;
    padding-left: 15px;
    text-align: center;
    display: flex;
    font-size: 25px;
    position:relative;
}

.midesc{
    font-family: 'Comic Neue', cursive;
    text-align: justify;
    margin-left: 150px;
    width: 1000px;
    }

.hab{
    font-family: 'Comic Neue', cursive;
    margin-left: 150px;
    text-align: justify;
    width: 1000px;
    }

h3{
    margin-left: 150px;
}

.white-space{
    height: 22.19px;
    background-color:white;
}



.footer{
    background-color: rgb(10, 175, 175);
    height: 37px;
    border-radius: 25px;
    padding-left: 720px;
}

.iconinst{
    color: white;
    font-size: 25px;
    margin-top: 7px;
    padding-left: 25px;
    cursor: pointer;
}

.iconlinke{
    color: white;
    font-size: 25px;
    margin-top: 7px;
    padding-left: 15px;
    cursor: pointer;
}

.icongit{
    color: white;
    font-size: 25px;
    margin-top: 7px;
    padding-left: 15px;
    cursor: pointer;
}



.finpag{
    color: rgba(255,255,255,1);
    font-family: 'Comic Neue', cursive;
    width: 300px;
    height: 17px;
    left: 580px;
    text-align: center;
    font-weight:700;
    font-size:20px;
    line-height: 5px;
    font-style: normal;
    position: absolute;
}
